<div class="grid grid-cols-1 gap-5 sm:grid-cols-2 xl:grid-cols-3">
  <div>
    <img
      src="https://via.placeholder.com/150"
      alt="image grid"
      class="rounded-xl border border-gray-200 dark:border-gray-800"
    />
  </div>

  <div>
    <img
      src="https://via.placeholder.com/150"
      alt="image grid"
      class="rounded-xl border border-gray-200 dark:border-gray-800"
    />
  </div>

  <div>
    <img
      src="https://via.placeholder.com/150"
      alt="image grid"
      class="rounded-xl border border-gray-200 dark:border-gray-800"
    />
  </div>
</div>
